<div class="row">
    <div class="col-xs-12 forumInc-head">
        <h2 class='forumInc-h2head'><img src='pictures/4TboEprac-1.png'></h2>
    </div>
</div>


<div class="row">
	<div class="col-xs-10 col-xs-offset-1 main-post">
		<h3>{{forumMainPost.title}}</h3>
		<p>{{forumMainPost.postText}}</p>
		<p class="uname">-{{forumUsername}}</p>
	</div>
</div>
<div class="row" ng-repeat='comment in forumMainPost.comments'>
	<div class="col-xs-10 col-xs-offset-1 comments">
		<p>{{comment.bodyText}}</p>
		<p class="uname">-{{comment.submitter.username}}</p>
	</div>
</div>
<br>
<div class='row'>
	<div class='col-xs-10 col-xs-offset-1' ng-hide="userOn">
		<form>
            <div class="control-group">
                <label>Comment</label> 
                <textarea class="form-control" rows="5" id="comment" ng-model='postComment.bodyText'></textarea>
            </div>
            <br>
            <button class="center-block btn btn-primary btn-lg" ng-click="submitComment(postComment)">Submit</button>
        </form>
	</div>
</div>